<h1>Edit Task</h1>

<%= form_with model: @task, url: task_path(@task), method: :patch do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>

  <div>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>

  <%= f.submit "Update Task" %>
<% end %>

<p>
  <%= link_to "Back to tasks", tasks_path %>
</p>
